
app-radio {
  display: inline-block;

  input[type="radio"] {
    //display: none;
  }

  .ng-radio-button-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .ng-radio-circle,
  .ng-radio-label-container {
    display: inline-block;
    vertical-align: middle;
  }

  .ng-radio-circle {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.10);

    .ng-radio-inner-circle {
      position: absolute;
      top: 2px;
      left: 2px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  .ng-radio-label-container {
    padding: 0 5px;
  }

  &.ng-radio-button-checked {
    .ng-radio-circle {
      border-color: #5a35ea;

      .ng-radio-inner-circle {
        background: #5a35ea;;
        width: 12px;
        height: 12px;
      }
    }
  }

  &.ng-radio-button-disabled {
    .ng-radio-button-label {
      cursor: auto;
    }
  }

}