


<form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <ng-form-field>
        <input
                type="text"
                label="Name"
                formControlName="name"
                required
                ngInput>
        <ng-error *ngIf="!name.untouched">
            <ng-error *ngIf="name.hasError('required')">This field is required</ng-error>
        </ng-error>
    </ng-form-field>

    <ng-form-field>
        <input
                type="text"
                label="Email"
                formControlName="email"
                ngInput>
        <ng-error *ngIf="!email.untouched">
        <ng-error *ngIf="email.hasError('required')">This field is required</ng-error>
        <ng-error *ngIf="email.hasError('email')">Invalid Email</ng-error>
        </ng-error>
    </ng-form-field>

    <ng-form-field>
        <textarea required ngInput label="Address"
                   formControlName="address"></textarea>
        <!--<ng-error *ngIf="!email.untouched">-->
        <!--<ng-error *ngIf="email.hasError('required')">This field is required</ng-error>-->
        <!--<ng-error *ngIf="email.hasError('email')">Invalid Email</ng-error>-->
        <!--</ng-error>-->
    </ng-form-field>

    <ng-checkbox formControlName="check_me">Check Me</ng-checkbox>
    <ng-checkbox formControlName="check_me2">Check Me 2</ng-checkbox>

    <!--<app-switch formControlName="check_me" [label]="'My Switch'"></app-switch>-->
    <button type="submit">Add</button>

</form>

