<!-- <input type="text" ngInput maxlength="12" minlength="2" > -->

<!-- <div class="ng-form-field-container">
    <div class="ng-form-field-input-wrapper">
        <input type="text" ngInput>
        <div class="ng-form-label-wrapper">
            <label class="ng-form-label ng-label-focus" for="">
                <span>Label</span>
                <span class="ng-form-required">*</span>
            </label>
        </div>
    </div>
    <div class="ng-form-field-input-underline">
      <div></div>
    </div>
    <div class="ng-form-field-error-wrapper"></div>
</div> -->

<!--<app-calander></app-calander>-->
<!-- <app-calender></app-calender> -->
<!-- <app-test></app-test> -->


<form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <ng-form-field>
        <input
                type="text"
                label="Name"
                formControlName="name"
                required
                ngInput>
        <ng-error *ngIf="!name.untouched">
            <ng-error *ngIf="name.hasError('required')">This field is required</ng-error>
            <ng-error *ngIf="name.hasError('email')">Invalid Email</ng-error>
        </ng-error>
    </ng-form-field>

    <button type="submit">Add</button>

</form>
